html, body {
	width: 100vw;
	margin: 0;
	padding: 0;

	color: #505050;
	font-family: 'Open Sans', sans-serif; /* Creates friendly vibe */
	font-style: normal;

	background-color: #ffffff;
	overflow-x: hidden;
}

h2 {
	position: relative;
	font-family: 'Fjalla One';
	font-style: normal;
	font-size: 40px;
	font-weight: 400;
	color: #5F5F5F;
	z-index: 3;
}

p {
	width: 90%;
	margin: 0 auto;

	position: relative;
	font-size: 18px;
	line-height: 250%;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}  

.uppercase {
	text-transform: uppercase;
}

.centerTxt {
	margin: 0;
	padding: 12.5vh 0 5vh;
}

.centerTxt > p {
	width: 70%;
	margin: auto;
	padding: 0;
	text-align: center;
}

.no-transition {
	transition: none !important;
}

.main-content {
	position: relative;
	width: 65%;
	margin: auto;
	z-index: 5;
}

.section-bg {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;

	background-size: cover;
	width: 100%;
}

@media screen and (max-width: 1180px) {
	.main-content {
		width: 900px;
	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 14px !important;
	}

	.main-content {
		width: 90%;
	}
}

@media screen and (max-width: 848px) {
	.main-content {
		width: 85%;
	}
}

/* End of default properties */










/* Below navigation bar styling was copied from my previous DECO1016 task and adjusted to fit into the context of this website */
#navbar {
    width: 100%;
    height: 64px;
    position: fixed;
    /* Fix it to the top of the screen */
    background-color: #1E1E1E;
	border: #3c3c3c 1px solid;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	
    z-index: 100; /* Avoid being covered by other elements */
}

.navbar-container {
    display: flex;
	justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar-container > a {
	margin-left: 32px;
    height: 64px;
}

#logo {
	display: block;
	margin: 0;
	padding: 0;
    height: 64px;
	width: 64px;
}

#navbar-menu {
	width: 40%;
}

#navbar-menu ul {
    list-style-type: none;
    display: flex;
	justify-content: space-between;

    margin: 0;
    padding: 0 0.8em;
    text-align: center;
    overflow: hidden;
}

.navbar-item {
    display: inline;
    line-height: 64px;
    padding: 0 30px;
    width: 100%;
}

.navbar-link {
    position: relative;
    display: block;
    color: #bcbcbc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
	text-transform: uppercase;

	transition: color 0.2s ease-out;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-link::after {
    position: absolute;
    content: "";
    height: 3px;
	width: 0%;

    left: 0;
    bottom: 12px;

	background: linear-gradient(90deg, #FFFFFF 0%, #3C3C3C 100%);
	border-radius: 5px;

	transition: width 0.2s ease-out;
}

#current-section::after {
    position: absolute;
    content: "";
    height: 3px;
	width: 100% !important;

    left: 0;
    bottom: 10px;

	background: linear-gradient(90deg, #FFFFFF 0%, #3C3C3C 100%);
	border-radius: 5px;

	transition: width 0.2s ease-out;
}

#navbar-toggle {
    display: none;
    z-index: 100;
}

/* Responsive nav bar learnt from DECO1016 unit */
@media screen and (max-width: 848px) {
	.navbar-container {
		justify-content: space-between;
	}

    #navbar-menu {
        position: fixed;
		height: 0;
        width: 100%;
		overflow: hidden;

        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: #1C1C1C;
    }

    #navbar-menu.animation {
		transition: all 0.3s ease;
	}

    #navbar-menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0.4em 0 0;    
	}

    .navbar-item {
        line-height: 64px;
        width: 80%;
		padding: 0;
		margin: auto;
    }

    .navbar-link::after {
        width: 100%;
		bottom: 0 !important;
		background:rgba(60, 60, 60, 0.3);
    }

    #navbar-toggle.active+#navbar-menu {
		height: 100%;
    }

    /* NAVBAR TOGGLE BUTTON */
    /* Styles for the hamburger style menu button */
    #navbar-toggle {
		margin: 0 30px 0 0px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
		
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Reusable style for each menu bar */
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: #808080;

		transition: transform 0.5s ease;
    }

    /* Set the icon bars for when the menu is active i.e. when the cross to close is showing */
    #navbar-toggle.active .icon-bar:first-child,
    #navbar-toggle.active .icon-bar:last-child {
        position: absolute;
        margin: 0;
        width: 32px;
    }

    /* Rotate the top menu bar */
    #navbar-toggle.active .icon-bar:first-child {
        transform: rotate(45deg);
    }

    /* Hide the middle menu bar */
    #navbar-toggle.active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    /* Rotate the bottom menu bar */
    #navbar-toggle.active .icon-bar:last-child {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 348px) {
	.navbar-container {
		padding: 0;
	}
}

/* End of navbar */





#home-section {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#landing {
	margin: 0;
	padding: 0;
	height: 100vh;
	position: relative;
	overflow: hidden; /* Crop the image if the image is too big */
}

#landing-bg {
	background-image: url("image/landing/bg.JPG");
	background-size: cover;
	width: 100%;
}






#all-products {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

#all-products > section {
	padding-bottom: 50px;
}

.showcase-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.showcase-header > a {
	text-decoration: none;
	color: #757575;
}

.showcase-header > p {
	width: unset;
	margin: 0;
	color: #757575;
}

.showcase-products {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 70px;
}

.showcase-product {
	position: relative;
	width: 290px;
	height: 420px;

	border: 2px solid #eeeeee;
	border-radius: 10px;
	overflow: hidden;
}

.showcase-product-img {
	height: 250px;
	overflow: hidden;
}

.showcase-product-img > div {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
}

.showcase-product-img > div:hover {
	transform: scale(1.2);
}

.showcase-product > p {
	width: 85%;
	padding-top: 10px;

	color: #5F5F5F;
	font-size: 16px;
	line-height: 170%;
}

.showcase-product > button {
	position: absolute;
    width: 85%;
    height: 3em;
	
	background: none;
	border: 2px solid #d5d5d5;
	border-radius: 0.5em;

    left: 50%;
	bottom: 30px;
    transform: translate(-50%, 0);

	font-size: 14px;
	color: #5F5F5F;
	
	transition: border-color 0.3s ease;
}

.showcase-product > button:hover {
	border-color: #8a8a8a;
}





footer {
	margin-top: 70px;
	background: #2A2A2A;
	color: #ffffff;
}

#footer-contact {
	width: 65%;
	margin: auto;
	display: flex;
	justify-content: space-between;

	padding-top: 30px;
}

#footer-contact > div {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

footer > span {
	display: block;
	width: 65%;
	height: 0.5px;

	margin: 30px auto 20px;
	background-color: #EDEDED;
}

#footer-connect {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	text-align: center;
	padding-bottom: 32px;
}

#connect-platforms {
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 0 12px;

	gap: 32px
}

#connect-platforms > a {
	display: block;
	height: 40px;
	width: 40px;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: height 0.2s ease-out, width 0.2s ease-out ;
}

#connect-platforms > a:hover {
	height: 48px;
	width: 48px;
}

@media screen and (max-height: 848px) {
	footer {
		position: relative;
	}

	#footer-connect {
		padding: 32px 0 16px;
	}

	#connect-platforms {
		margin: 0;
	}
}






/* Fade in animation that was learnt from this tutorial https://www.youtube.com/watch?v=Ma3TVb-Vstg */
.animate {
	opacity: 0;
	transform: translateY(50px);
}

.fade-in {
	animation: fade-in 1.2s both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* End of animation */