/* To avoid the font not showing in some browsers https://stackoverflow.com/questions/36660893/css-open-sans-font */
/* With the proper font weight https://stackoverflow.com/questions/45114158/googles-open-sans-font-weight */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html,
body {
	width: 100vw;
	margin: 0;
	padding: 0;

	background-color: #ffffff;

	font-family: 'Open Sans', sans-serif; /* Creates friendly vibe */
	font-style: normal;

	overflow-x: hidden;
}

h2 {
	position: relative;
	font-family: 'Fjalla One';
	font-style: normal;
	font-size: 40px;
	font-weight: 400;
	color: #5F5F5F;
	z-index: 3;
}

p {
	width: 90%;
	margin: 0 auto;

	position: relative;
	font-size: 18px;
	line-height: 250%;
}

.main {
	position: relative;
	z-index: 99;
	padding: 5.5vh 0 1vh 10%;
	margin: 0;
}

.main > p > strong {
	color: #ffce85;
}

.centerTxt {
	margin: 0;
	padding: 12.5vh 0 5vh;
}

.centerTxt>p {
	width: 70%;
	margin: auto;
	padding: 0;
	text-align: center;
}

.section-bg {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}

/* Creating a mask that can apply gradient colour */
.section-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/* End of default properties */






/* Below navigation bar styling was copied from my previous DECO1016 task and adjusted to fit into the context of this website */
#navbar {
    width: 100%;
    height: 64px;
    position: fixed;
    /* Fix it to the top of the screen */
    background-color: #3A5848;
    z-index: 100;
    /* Avoid being covered by other elements */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar-container img#logo {
    height: 40px;
}

#navbar-menu {
	width: 670px;
}


#navbar-menu ul {
    list-style-type: none;
    display: flex;
	justify-content: space-between;

    margin: 0;
    padding: 0 0.8em;
    text-align: center;
    overflow: hidden;
}

#navbar-menu>ul>li {
    display: inline;
    line-height: 64px;
    padding: 0 15px;
    width: 100%;
}

#navbar-menu>ul>li>a {
    position: relative;
    display: block;
    color: #EDEDED;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
	text-transform: uppercase;
}

/* Show an orange line under the current section to notify users which section they are at */
#current-section::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #EDEDED;
}

#navbar-menu>ul>li>a:hover {
    color: #EDEDED;
}

#navbar-menu>ul>li>a:hover::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #EDEDED;
}

#navbar-toggle {
    display: none;
    z-index: 100;
}

/* Responsive nav bar learnt from DECO1016 unit */
@media screen and (max-width: 800px) {
    #navbar-menu {
        position: fixed;
        width: 100%;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

    #navbar-menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0.4em 0.8em 0;
        background-color: #1C1C1C;
    }

    #navbar-menu>ul>li {
        line-height: 64px;
        width: 80%;
    }

    #navbar-menu>ul>li>a:hover {
        border-bottom: 0;
    }

    .navbar-item>.hori-line {
        display: block;
        width: 100%;
        height: 0.5px;
        background-color: #EDEDED;
    }

    #navbar-menu>ul>li>a:hover::after {
        height: 3px;
        width: 100%;
    }

    #current-section::after {
        height: 3px;
        width: 100%;
    }

    #navbar-toggle.active+#navbar-menu {
        background-color: #1C1C1C;
        display: flex;
    }

    /* NAVBAR TOGGLE BUTTON */
    /* Styles for the hamburger style menu button */
    #navbar-toggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Reusable style for each menu bar */
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: #454545;
    }

    /* Set the colour of the menu bars when hovered */
    #navbar-toggle:hover .icon-bar {
        background-color: #787878;
    }

    /* Set the icon bars for when the menu is active i.e. when the cross to close is showing */
    #navbar-toggle.active .icon-bar:first-child,
    #navbar-toggle.active .icon-bar:last-child {
        position: absolute;
        margin: 0;
        width: 30px;
    }

    /* Rotate the top menu bar */
    #navbar-toggle.active .icon-bar:first-child {
        transform: rotate(45deg);
    }

    /* Hide the middle menu bar */
    #navbar-toggle.active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    /* Rotate the bottom menu bar */
    #navbar-toggle.active .icon-bar:last-child {
        transform: rotate(-45deg);
    }
}

/* End of navbar */





#landing {
	margin: 0;
	padding: 0;
	height: 100vh;
	position: relative;
	overflow: hidden; /* Crop the image if the image is too big */
}

#landing h1 {
	position: absolute;
	width: 70%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);

	text-align: center;
	font-weight: 700;
	font-size: clamp(98px, 5.5vw, 128px);
	line-height: 190%;
	text-transform: uppercase;

	/* Gradient White */
	background: linear-gradient(245deg, #EAEAEA 0%, rgba(234, 234, 234, 0.3) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	z-index: 3;
}

#landing-bg {
	background-image: url("image/landing/bg.JPG");
	background-size: cover;
	width: 100%;
}





#all-products {
	width: 65%;
	margin: auto;
	padding-top: 50px;
}

#all-products > section {
	padding-bottom: 50px;
}

.showcase-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.showcase-header > a {
	text-decoration: none;
	color: #757575;
}

.showcase-products {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 70px;
}

.showcase-product {
	position: relative;
	width: 290px;
	height: 450px;

	border: 2px solid #eeeeee;
	border-radius: 10px;
	overflow: hidden;
}

.showcase-product-img {
	height: 250px;
	overflow: hidden;
}

.showcase-product-img > div {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease;
}

.showcase-product-img > div:hover {
	transform: scale(1.2);
}

.showcase-product > p {
	width: 85%;
	padding-top: 10px;

	color: #5F5F5F;
	font-size: 16px;
	line-height: 170%;
}

.showcase-product > button {
	position: absolute;
    width: 85%;
    height: 3.5em;
	
	background: none;
	border: 2px solid #d5d5d5;
	border-radius: 10px;

    left: 50%;
	bottom: 30px;
    transform: translate(-50%, 0);

	font-size: 14px;
	color: #5F5F5F;
	
	transition: border-color 0.3s ease;
}

.showcase-product > button:hover {
	border-color: #8a8a8a;
}

/* End of home section */






footer {
	margin-top: 70px;
	background: #2A2A2A;
	color: #ffffff;
}

#footer-contact {
	width: 65%;
	margin: auto;
	display: flex;
	justify-content: space-between;

	padding-top: 30px;
}

#footer-contact > div {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

#footer-contact > div > .contact-header {
	text-transform: uppercase;
}

footer > span {
	display: block;
	width: 65%;
	height: 0.5px;

	margin: 30px auto 20px;
	background-color: #EDEDED;
}

#footer-connect {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	text-align: center;
	padding-bottom: 40px;
}

#connect-platforms {
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0 15px;
}

#connect-platforms > a {
	display: block;
	height: 40px;
	width: 40px;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: height 0.2s ease-out, width 0.2s ease-out ;
}

#connect-platforms > a:hover {
	height: 48px;
	width: 48px;
}